@model ElectroCo.Models.Produtos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control">
                    @foreach (var key in ViewBag.product_types.Items)
                    {
                        <optgroup label="@key.Key">
                            @foreach (var type in key.Value)
                            {
                                @if (Model.Tipo == type)
                                {
                                    <option value="@type" selected>@type</option>
                                }
                                else { 
                                    <option value="@type">@type</option>
                                }

                            }
                        </optgroup>
                    }

                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoProduto" class="control-label"></label>
                <select asp-for="EstadoProduto" class="form-control">
                    @if (Model.Tipo == "Disponível")
                    {
                        <option value="Disponível" selected>Disponível</option>
                    }
                    else
                    {
                        <option value="Disponível">Disponível</option>
                    }
                    @if (Model.Tipo == "Indisponível")
                    {
                        <option value="Indisponível" selected>Indisponível</option>
                    }
                    else
                    {
                        <option value="Indisponível">Indisponível</option>
                    }

                </select>
                <span asp-validation-for="EstadoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
