@model IEnumerable<ElectroCo.Models.Encomendas>

@{
    ViewData["Title"] = "Encomendas";
}
@if (User.IsInRole("cliente"))
{
    <h1>As suas Encomendas</h1>
}
else
{
    <h1>@ViewData["Title"]</h1>
}


<table id="defaultTable" class="table">
    <thead>
        <tr>
            <th>
                Estado da Encomenda
            </th>
            <th>
                Data da Encomenda
            </th>
            <th>
                Previsão de Entrega
            </th>
            <th>
                Track ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoEncomenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEncomenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevisaoEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackID)
                </td>
                <td>
                    @{
                        if (!User.IsInRole("cliente"))
                        {
                            if (item.EstadoEncomenda != "Concluido")
                            {
                                <a asp-action="Concluido" asp-route-id="@item.ID">Concluir</a>
                            }

                            if (User.IsInRole("administrador"))
                            {
                                if (item.EstadoEncomenda != "Concluido")
                                {
                                    <span>|</span>
                                }
                                <a asp-controller="DetalhesEncomendas" asp-action="Details" asp-route-id="@item.ID">Ver Encomenda </a>
                            }
                        }
                        else
                        {
                            <a asp-controller="DetalhesEncomendas" asp-action="Details" asp-route-id="@item.ID">Ver Encomenda </a>
                        }

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
