@model IEnumerable<ElectroCo.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
    var Total = 0.0;
}

<h2>Carrinho de Compras</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Preco)
            </th>

            <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Total = Total + (item.Product.Preco * item.Quantidade);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Preco)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Remover</a>
            </td>


        </tr>
        }
        <tr>
            <th>Preço Total:</th>
            <td>@string.Format(new System.Globalization.CultureInfo("pt-PT"), "{0:C}", Total)</td>
            <td><a asp-action="Encomendar">Finalizar</a></td>
        </tr>
    </tbody>
</table>
